<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<title>Locksite - Add new comment</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
      href="css/style.css" data-th-href="@{/css/style.css}"/>
<link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <p class="h4 mb-4">Add new comment</p>

    <form action="#" data-th-action="@{/addComment}"
          data-th-object="${codeDTO}" method="POST">

        <input type="hidden" data-th-field="*{id}"/>
        <input type="text" data-th-field="*{comment}"
               class="form-control mb-4 col-4" placeholder="Comment">

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>
    <hr>
    <a data-th-href="@{/showAllCodes}">Back to codes List</a>
</div>

</body>
</html>